@charset "UTF-8";
/*paleta de colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100%;
  height: 100px;
  background-color: #213A40; }

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 90px;
  width: 90px;
  margin-left: 20px; }

.barBoton {
  font-size: 1.2rem;
  color: #D98859;
  margin-right: 20px;
  cursor: pointer; }

.barBoton:hover {
  color: #BF3056; }

.navMenu {
  position: fixed;
  width: 100%;
  height: 0;
  top: 100px;
  text-align: center;
  transition: all .5s;
  background: rgba(35, 58, 64, 0.95); }

.navMenu li {
  display: none;
  line-height: 10px;
  margin: 50px 0;
  transition: all .5s; }

.navMenu li a {
  color: #D98859;
  font-size: 1.2rem;
  font-weight: 600; }

.navMenu li a:hover {
  color: #BF3056; }

#check {
  display: none; }

#check:checked ~ .navMenu {
  height: 280px; }

#check:checked ~ .navMenu li {
  display: block; }

/*responsive for desktop*/
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 30px; }
  nav {
    height: 100px; }
  .barBoton {
    display: none; }
  .navMenu {
    position: relative;
    height: 100;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px; }
  .navMenu li {
    display: inline-block;
    line-height: 15px;
    margin: 0 20px;
    transition: none; } }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3326355/pexels-photo-3326355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*font montserrat*/
/*font barlow*/
/*font roboto*/
/*grilla mobile first home*/
.contenedorHome {
  display: grid;
  grid-template-areas: "imagenHome" "infoHome"; }

.imagenHome {
  grid-area: imagenHome; }

.infoHome {
  grid-area: infoHome; }

/*grilla responsive desktop*/
@media screen and (min-width: 768px) {
  .contenedorHome {
    display: grid;
    grid-template-areas: "infoHome imagenHome imagenHome" "infoHome imagenHome imagenHome"; } }

/* grilla sobre mi mobile first*/
.contenedorSobreMi {
  height: 750px;
  display: grid;
  grid-template-areas: "imagenSobreMi" "infoSobreMi"; }

.imagenSobreMi {
  grid-area: imagenSobreMi; }

.infoSobreMi {
  grid-area: infoSobreMi; }

/*grilla sobre mi responsive desktop*/
@media screen and (min-width: 768px) {
  .contenedorSobreMi {
    display: grid;
    grid-template-areas: "infoSobreMi imagenSobreMi imagenSobreMi" "infoSobreMi imagenSobreMi imagenSobreMi";
    height: 100vh; } }

/*grilla servicios mobile first*/
.contenedorServicios {
  display: grid;
  grid-template-areas: "imagenDiseño imagenDiseño" "infoDiseño infoDiseño" "imagenDesarrollo imagenDesarrollo" "infoDesarrollo infoDesarrollo"; }

.infoDiseño {
  grid-area: infoDiseño; }

.imagenDiseño {
  grid-area: imagenDiseño; }

.infoDesarrollo {
  grid-area: infoDesarrollo; }

.imagenDesarrollo {
  grid-area: imagenDesarrollo; }

/*grillas servicios responsive*/
@media screen and (min-width: 768px) {
  .contenedorServicios {
    display: grid;
    grid-template-areas: "infoDiseño imagenDiseño imagenDiseño"                     "infoDesarrollo imagenDesarrollo imagenDesarrollo"; } }

/*grillas contacto responsive*/
@media screen and (min-width: 768px) {
  .contenedorContacto {
    display: grid;
    grid-template-areas: "infoContacto imagenContacto imagenContacto"                     "formularioContacto imagenContacto imagenContacto"; }
  .infoContacto {
    grid-area: infoContacto; }
  .imagenContacto {
    grid-area: imagenContacto; }
  .formularioContacto {
    grid-area: formularioContacto; } }

/* grillas portfolio desktop*/
@media screen and (min-width: 768px) {
  .contenedorPortfolio {
    display: grid;
    grid-template-areas: "tituloIlustracion tituloIlustracion" "ilustUno textoIlustracion" "ilustDos ilustTres" "tituloCollage tituloCollage" "collageUno textoCollage" "collageDos collageTres" "tituloBrand tituloBrand" "brandUno textoBrand" "brandDos brandTres"; }
  .tituloIlustracion {
    grid-area: tituloIlustracion; }
  .textoIlustracion {
    grid-area: textoIlustracion; }
  .ilustUno {
    grid-area: ilustUno; }
  .ilustDos {
    grid-area: ilustDos; }
  .ilustTres {
    grid-area: ilustTres; }
  .tituloCollage {
    grid-area: tituloCollage; }
  .textoCollage {
    grid-area: textoCollage; }
  .collageUno {
    grid-area: collageUno; }
  .collageDos {
    grid-area: collageDos; }
  .collageTres {
    grid-area: collageTres; }
  .tituloBrand {
    grid-area: tituloBrand; }
  .textoBrand {
    grid-area: textoBrand; }
  .brandUno {
    grid-area: brandUno; }
  .brandDos {
    grid-area: brandDos; }
  .brandTres {
    grid-area: brandTres; } }

/*mobile first*/
.imagenHome {
  width: 100%;
  height: 30vh;
  background-image: url(https://images.pexels.com/photos/3109816/pexels-photo-3109816.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover; }

.tituloHome {
  font-family: 'Barlow', sans-serif;
  color: #BF3056;
  font-size: 2.2rem;
  margin-left: 30px;
  margin-top: 30px; }

.textoHome {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #213A40; }

.botonHome {
  width: 80px;
  height: 40px;
  margin-left: 30px;
  margin-top: 25px;
  background-color: #0097a7;
  margin-bottom: 15px;
  border: 0;
  border-radius: 5px; }

.botonHome:hover {
  background-color: #BF3056; }

.botonHome a {
  font-size: 1.2rem;
  color: white; }

.portfolioHome {
  margin-left: 30px;
  border-radius: 5px;
  margin-bottom: 30px; }

/* responsive desktop*/
@media screen and (min-width: 768px) {
  .imagenHome {
    width: 100%;
    height: 100vh;
    margin-right: 0; }
  .tituloHome {
    color: #BF3056;
    font-size: 2.7rem;
    text-align: left;
    margin-top: 150px;
    width: 400px;
    margin-left: 150px; }
  .textoHome {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 1.3rem;
    width: 350px; }
  .botonHome {
    width: 80px;
    height: 40px;
    margin-left: 150px;
    margin-top: 25px;
    margin-bottom: 30px; }
  .portfolioHome {
    margin-left: 150px; } }

.imagenSobreMi {
  width: 100%;
  height: 30vh;
  background-image: url(https://images.pexels.com/photos/3844788/pexels-photo-3844788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover; }

.tituloSobreMi {
  font-family: 'Barlow', sans-serif;
  color: #0097a7;
  font-size: 2.2rem;
  margin-left: 30px;
  margin-top: 30px; }

.textoSobreMi {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #213A40;
  margin-bottom: 50px; }

.botonSobreMi {
  width: 100px;
  height: 60px;
  margin-left: 30px;
  background-color: #BF3056;
  margin-bottom: 50px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px 10px 15px; }

.botonSobreMi:hover {
  background-color: #0097a7; }

.botonSobreMi a {
  font-size: 1.1rem;
  color: white; }

/* responsive desktop sobre mi*/
@media screen and (min-width: 768px) {
  .imagenSobreMi {
    width: 100%;
    height: 100vh;
    margin-right: 0; }
  .tituloSobreMi {
    font-size: 2.7rem;
    text-align: left;
    margin-top: 150px;
    width: 400px;
    margin-left: 150px; }
  .textoSobreMi {
    width: 400px;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 1.3rem; }
  .botonSobreMi {
    width: 80px;
    height: 40px;
    margin-left: 150px;
    margin-top: 25px; } }

/*servicios mobile first*/
.imagenDiseño {
  background-image: url(https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  width: 100%;
  height: 200px; }

.imagenDesarrollo {
  background-image: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  width: 100%;
  height: 200px; }

.infoDiseño {
  height: 300px; }

.infoDesarrollo {
  height: 300px; }

.tituloDiseño {
  font-family: 'Barlow', sans-serif;
  color: #BF3056;
  font-size: 2.2rem;
  margin-top: 30px;
  margin-left: 30px; }

.textoDiseño {
  font-family: 'Roboto', sans-serif;
  width: 280px;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 1.1rem;
  color: #213A40; }

.tituloDesarrollo {
  font-family: 'Barlow', sans-serif;
  color: #0097a7;
  font-size: 2.2rem;
  margin-top: 30px;
  margin-left: 30px; }

.botonDiseño {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-top: 25px;
  background-color: #0097a7;
  margin-bottom: 50px;
  border: 0;
  border-radius: 5px; }

.botonDiseño:hover {
  background-color: #BF3056; }

.botonDiseño a {
  font-size: 1rem;
  color: white; }

.botonDesarrollo {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-top: 25px;
  background-color: #BF3056;
  margin-bottom: 50px;
  border: 0;
  border-radius: 5px; }

.botonDesarrollo:hover {
  background-color: #0097a7; }

.botonDesarrollo a {
  font-size: 1rem;
  color: white; }

/*servicios responsive*/
@media screen and (min-width: 768px) {
  .imagenDiseño {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 80px;
    margin-right: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .imagenDesarrollo {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3); }
  .textoDiseño {
    width: 400px;
    font-size: 1.2rem; }
  .tituloDiseño {
    margin-left: 80px;
    margin-top: 120px;
    font-size: 2.5rem; }
  .tituloDesarrollo {
    margin-left: 80px;
    font-size: 2.5rem; }
  .textoDiseño {
    margin-left: 80px; }
  .botonDiseño {
    margin-left: 80px; }
  .botonDesarrollo {
    margin-left: 80px; } }

/* contacto mobile first*/
.imagenContacto {
  background-image: url(https://images.pexels.com/photos/4585185/pexels-photo-4585185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  width: 100%;
  height: 30vh; }

.infoContacto {
  width: 360px;
  height: 380px;
  margin-left: 20px; }

.infoContacto p {
  margin-top: 10px;
  color: #213A40; }

.formularioContacto {
  width: 330px;
  height: 350px;
  margin-left: 20px; }

.tituloCorreo {
  font-family: 'Barlow', sans-serif;
  color: #BF3056;
  font-size: 1.6rem;
  margin-top: 15px; }

.tituloRedes {
  font-family: 'Barlow', sans-serif;
  color: #D98859;
  font-size: 1.4rem;
  margin-top: 30px; }

.tituloFormulario {
  font-family: 'Barlow', sans-serif;
  color: #0097a7;
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 15px; }

.redUno img {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px; }

.redUno img:hover {
  height: 33px;
  width: 33px; }

.redDos img {
  height: 30px;
  width: 30px;
  margin-right: 10px; }

.redDos img:hover {
  height: 33px;
  width: 33px; }

.redTres img {
  height: 30px;
  width: 30px; }

.redTres img:hover {
  height: 33px;
  width: 33px; }

form button {
  width: 60px;
  height: 30px;
  background-color: #0097a7;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1rem; }

form button:hover {
  background-color: #BF3056; }

.logoContacto {
  margin-top: 25px;
  width: 150px;
  height: 150px; }

form div {
  margin-bottom: 5px; }

/*contacto responsive*/
@media screen and (min-width: 768px) {
  .imagenContacto {
    width: 100%;
    height: 800px; }
  .infoContacto {
    height: 400px;
    margin-left: 50px; }
  .formularioContacto {
    height: 400px;
    width: 360px;
    margin-left: 50px; }
  .tituloRedes {
    margin-top: 10px; }
  .redUno img {
    margin-top: 5px; } }

/* estilos footer */
.contenedorFooter {
  display: flex;
  justify-content: center;
  background-color: #213A40; }

.seccionFooter {
  padding: 10px; }

.iconoInstagram img {
  width: 25px;
  height: 25px;
  margin-left: 25px;
  margin-right: 15px; }

.iconoBehance img {
  width: 25px;
  height: 25px; }

.derechos {
  margin-top: 10px; }

footer section p {
  color: #D98859; }

.redesFooter {
  display: flex; }

/* portfolio mobile first*/
.tituloIlustracion {
  font-family: 'Barlow', sans-serif;
  color: #BF3056;
  font-size: 1.8rem;
  margin-left: 20px;
  margin-top: 30px; }

.tituloCollage {
  font-family: 'Barlow', sans-serif;
  color: #0097a7;
  font-size: 1.8rem;
  margin-left: 20px;
  margin-top: 30px; }

.tituloBrand {
  font-family: 'Barlow', sans-serif;
  color: #213A40;
  font-size: 1.8rem;
  margin-left: 20px;
  margin-top: 30px; }

.textoIlustracion {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1rem;
  color: #213A40; }

.ilustUno {
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-top: 10px; }

.ilustDos {
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-top: 10px; }

.ilustTres {
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.collageUno {
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.collageDos {
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.collageTres {
  background-color: #0097a7;
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.textoCollage {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1rem;
  color: #213A40; }

.brandUno {
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.brandDos {
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.brandTres {
  width: 200px;
  margin-left: 20px;
  margin-top: 15px; }

.textoBrand {
  font-family: 'Roboto', sans-serif;
  width: 320px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 1rem;
  color: #213A40; }

/* portfolio desktop*/
@media screen and (min-width: 768px) {
  .ilustUno {
    width: 500px;
    height: 500px;
    padding-left: 60px; }
  .ilustDos {
    width: 500px;
    height: 500px;
    padding-left: 60px; }
  .ilustTres {
    width: 500px;
    height: 500px; }
  .collageUno {
    width: 400px;
    height: 540px;
    padding-left: 60px; }
  .collageDos {
    width: 460px;
    height: 540px;
    padding-left: 60px; }
  .collageTres {
    width: 450px;
    height: 540px; }
  .brandUno {
    width: 400px;
    height: 480;
    padding-left: 60px; }
  .brandDos {
    width: 400px;
    padding-left: 60px; }
  .brandTres {
    width: 340px;
    height: 408px;
    margin-bottom: 30px; }
  .tituloIlustracion {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
    background-color: #BF3056;
    color: white;
    margin-left: 60px;
    margin-right: 60px; }
  .textoIlustracion {
    margin-top: 140px;
    font-size: 1.2rem;
    width: 450px; }
  .tituloCollage {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-top: 30px;
    background-color: #0097a7;
    margin-left: 60px;
    margin-right: 60px; }
  .textoCollage {
    margin-top: 140px;
    font-size: 1.2rem;
    width: 450px; }
  .tituloBrand {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-top: 30px;
    background-color: #213A40;
    margin-left: 60px;
    margin-right: 60px; }
  .textoBrand {
    margin-top: 140px;
    font-size: 1.2rem;
    width: 400px; } }
