/*paleta de colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100%;
  height: 100px;
  background-color: #213A40; }

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 90px;
  width: 90px;
  margin-left: 20px; }

.barBoton {
  font-size: 1.2rem;
  color: #D98859;
  margin-right: 20px;
  cursor: pointer; }

.barBoton:hover {
  color: #BF3056; }

.navMenu {
  position: fixed;
  width: 100%;
  height: 0;
  top: 100px;
  text-align: center;
  transition: all .5s;
  background: rgba(35, 58, 64, 0.95); }

.navMenu li {
  display: none;
  line-height: 10px;
  margin: 50px 0;
  transition: all .5s; }

.navMenu li a {
  color: #D98859;
  font-size: 1.2rem;
  font-weight: 600; }

.navMenu li a:hover {
  color: #BF3056; }

#check {
  display: none; }

#check:checked ~ .navMenu {
  height: 280px; }

#check:checked ~ .navMenu li {
  display: block; }

/*responsive for desktop*/
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 30px; }
  nav {
    height: 100px; }
  .barBoton {
    display: none; }
  .navMenu {
    position: relative;
    height: 100;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px; }
  .navMenu li {
    display: inline-block;
    line-height: 15px;
    margin: 0 20px;
    transition: none; } }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3326355/pexels-photo-3326355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*font montserrat*/
/*font barlow*/
/*font roboto*/
/*grilla mobile first home*/
.contenedorHome {
  display: grid;
  grid-template-areas: "imagenHome" "infoHome"; }

.imagenHome {
  grid-area: imagenHome; }

.infoHome {
  grid-area: infoHome; }

/*grilla responsive desktop*/
@media screen and (min-width: 768px) {
  .contenedorHome {
    display: grid;
    grid-template-areas: "infoHome imagenHome imagenHome" "infoHome imagenHome imagenHome"; } }

/* grilla sobre mi mobile first*/
.contenedorSobreMi {
  height: 100vh;
  display: grid;
  grid-template-areas: "imagenSobreMi" "infoSobreMi"; }

.imagenSobreMi {
  grid-area: imagenSobreMi; }

.infoSobreMi {
  grid-area: infoSobreMi; }

/*grilla sobre mi responsive desktop*/
@media screen and (min-width: 768px) {
  .contenedorSobreMi {
    display: grid;
    grid-template-areas: "infoSobreMi imagenSobreMi imagenSobreMi" "infoSobreMi imagenSobreMi imagenSobreMi"; } }

/*mobile first*/
.imagenHome {
  background-color: #BF3056;
  width: 100%;
  height: 30vh; }

.tituloHome {
  font-family: 'Barlow', sans-serif;
  color: #BF3056;
  font-size: 2.2rem;
  text-align: center;
  margin-top: 30px; }

.textoHome {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 100px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #213A40; }

.botonHome {
  width: 80px;
  height: 40px;
  margin-left: 100px;
  margin-top: 25px;
  background-color: #0097a7;
  margin-bottom: 50px;
  border: 0;
  border-radius: 5px; }

.botonHome:hover {
  background-color: #BF3056; }

.botonHome a {
  font-size: 1.2rem;
  color: white; }

/* responsive desktop*/
@media screen and (min-width: 768px) {
  .imagenHome {
    background-color: #BF3056;
    width: 100%;
    height: 100vh;
    margin-right: 0; }
  .tituloHome {
    color: #BF3056;
    font-size: 2.7rem;
    text-align: left;
    margin-top: 150px;
    width: 400px;
    margin-left: 150px; }
  .textoHome {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 1.3rem; }
  .botonHome {
    width: 80px;
    height: 40px;
    margin-left: 150px;
    margin-top: 25px; } }

.imagenSobreMi {
  background-color: #0097a7;
  width: 100%;
  height: 30vh; }

.tituloSobreMi {
  font-family: 'Barlow', sans-serif;
  color: #0097a7;
  font-size: 2.2rem;
  margin-left: 110px;
  margin-top: 30px; }

.textoSobreMi {
  font-family: 'Roboto', sans-serif;
  width: 300px;
  margin-left: 110px;
  margin-top: 30px;
  font-size: 1.2rem;
  color: #213A40;
  margin-bottom: 50px; }

.botonSobreMi {
  width: 100px;
  height: 60px;
  margin-left: 110px;
  background-color: #BF3056;
  margin-bottom: 50px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px 10px 15px; }

.botonSobreMi:hover {
  background-color: #0097a7; }

.botonSobreMi a {
  font-size: 1.1rem;
  color: white; }

/* responsive desktop sobre mi*/
@media screen and (min-width: 768px) {
  .imagenSobreMi {
    width: 100%;
    height: 100vh;
    margin-right: 0; }
  .tituloSobreMi {
    font-size: 2.7rem;
    text-align: left;
    margin-top: 150px;
    width: 400px;
    margin-left: 150px; }
  .textoSobreMi {
    margin-left: 150px;
    margin-top: 30px;
    font-size: 1.3rem; }
  .botonSobreMi {
    width: 80px;
    height: 40px;
    margin-left: 150px;
    margin-top: 25px; } }
