@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

header {
  width: 100%;
  height: 100px;
  background-color: #213A40; }

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  height: 90px;
  width: 90px;
  margin-left: 20px; }

.barBoton {
  font-size: 1.2rem;
  color: #D98859;
  margin-right: 20px;
  cursor: pointer; }

.barBoton:hover {
  color: #BF3056; }

.navMenu {
  position: fixed;
  width: 100%;
  height: 0;
  top: 100px;
  text-align: center;
  transition: all .5s;
  background: rgba(35, 58, 64, 0.95); }

.navMenu li {
  display: none;
  line-height: 10px;
  margin: 50px 0;
  transition: all .5s; }

.navMenu li a {
  color: #D98859;
  font-size: 1.2rem;
  font-weight: 600; }

.navMenu li a:hover {
  color: #BF3056; }

#check {
  display: none; }

#check:checked ~ .navMenu {
  height: 280px; }

#check:checked ~ .navMenu li {
  display: block; }

/*responsive for desktop*/
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 30px; }
  nav {
    height: 100px; }
  .barBoton {
    display: none; }
  .navMenu {
    position: relative;
    height: 100;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px; }
  .navMenu li {
    display: inline-block;
    line-height: 15px;
    margin: 0 20px;
    transition: none; } }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/3326355/pexels-photo-3326355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
