/* estilos footer */

.contenedorFooter{
    display: flex;
    justify-content:center;
    background-color: $azul;
}
.seccionFooter{
    padding: 10px;
}
.iconoInstagram img{
    width: 25px;
    height: 25px;
    margin-left: 25px;
    margin-right: 15px;
}

.iconoBehance img{
    width: 25px;
    height: 25px;
}
.derechos{
    margin-top: 10px;
}

footer section p{
    color: $naranja;
}

.redesFooter{
    display: flex;
}