/*grilla mobile first home*/

.contenedorHome{
    display: grid;
    grid-template-areas: "imagenHome"
                         "infoHome";
}

.imagenHome{
    grid-area: imagenHome;
}

.infoHome{
    grid-area: infoHome;
}

/*grilla responsive desktop*/
@media screen and (min-width:768px){
    .contenedorHome{
        display: grid;
        grid-template-areas: "infoHome imagenHome imagenHome"
                             "infoHome imagenHome imagenHome";
    }
}

/* grilla sobre mi mobile first*/

.contenedorSobreMi{
    display: grid;
    grid-template-areas: "imagenHome"
                         "infoHome";
}

.imagenSobreMi{
    grid-area: imagenHome;
}

.infoSobreMi{
    grid-area: infoHome;
}