/*grilla mobile first home*/

.contenedorHome{
    display: grid;
    grid-template-areas: "imagenHome"
                         "infoHome";
}

.imagenHome{
    grid-area: imagenHome;
}

.infoHome{
    grid-area: infoHome;
}

/*grilla responsive desktop*/
@media screen and (min-width:768px){
    .contenedorHome{
        display: grid;
        grid-template-areas: "infoHome imagenHome imagenHome"
                             "infoHome imagenHome imagenHome";
    }
}

/* grilla sobre mi mobile first*/

.contenedorSobreMi{
    height: 100vh;
    display: grid;
    grid-template-areas: "imagenSobreMi"
                         "infoSobreMi";
}

.imagenSobreMi{
    grid-area: imagenSobreMi;
}

.infoSobreMi{
    grid-area: infoSobreMi;
}

/*grilla sobre mi responsive desktop*/ 

@media screen and (min-width:768px){
    .contenedorSobreMi{
        display: grid;
        grid-template-areas: "infoSobreMi imagenSobreMi imagenSobreMi"
                             "infoSobreMi imagenSobreMi imagenSobreMi";
}

}

/*grilla servicios mobile first*/

.contenedorServicios{
    display: grid;
    grid-template-areas: "imagenDiseño imagenDiseño"
                         "infoDiseño infoDiseño"
                         "imagenDesarrollo imagenDesarrollo"
                         "infoDesarrollo infoDesarrollo";
}

.infoDiseño{
    grid-area:infoDiseño ;
}
.imagenDiseño{
    grid-area: imagenDiseño;
}

.infoDesarrollo{
    grid-area: infoDesarrollo;
}

.imagenDesarrollo{
    grid-area: imagenDesarrollo ;
}

/*grillas servicios responsive*/

@media screen and (min-width:768px){
    .contenedorServicios{
        display: grid;
        grid-template-areas: "infoDiseño imagenDiseño imagenDiseño"                    
                             "infoDesarrollo imagenDesarrollo imagenDesarrollo";
    }

}

/*grillas contacto responsive*/

@media screen and (min-width:768px){
    .contenedorContacto{
        display: grid;
        grid-template-areas: "infoContacto imagenContacto imagenContacto"                    
                             "formularioContacto imagenContacto imagenContacto";
    }
    .infoContacto{
        grid-area: infoContacto;
    }
    .imagenContacto{
        grid-area: imagenContacto;
    }
    .formularioContacto{
        grid-area: formularioContacto;
    }
}