/*mobile first*/

.imagenHome{
    width: 100%;
    height: 30vh;
    background-image: url(https://images.pexels.com/photos/3109816/pexels-photo-3109816.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
}

.tituloHome{
    font-family: 'Barlow', sans-serif;
    color: $rosa;
    font-size: 2.2rem;
    margin-left: 100px;
    margin-top: 30px;
}

.textoHome{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 1.2rem;
    color: $azul;
}

.botonHome{
    width: 80px;
    height: 40px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: $celeste;
    margin-bottom: 50px;
    border:0;
    border-radius: 5px;
}
.botonHome:hover{
    background-color: $rosa;
}
.botonHome a{
    font-size: 1.2rem;
    color: white;
}

/* responsive desktop*/

@media screen and (min-width:768px){
    .imagenHome{
        width: 100%;
        height: 100vh;
        margin-right: 0;
    }

    .tituloHome{
        color: $rosa;
        font-size: 2.7rem;
        text-align: left;
        margin-top: 150px;
        width: 400px;
        margin-left: 150px;
    }

    .textoHome{
        margin-left: 150px;
        margin-top: 30px;
        font-size: 1.3rem;
        width: 350px;
    }
    .botonHome{
        width: 80px;
        height: 40px;
        margin-left: 150px;
        margin-top: 25px;
    }
    
}
