/*servicios mobile first*/

.imagenDiseño{
    width: 100%;
    height: 200px;
    background-color: $rosa;
}

.imagenDesarrollo{
    width: 100%;
    height: 200px;
    background-color: $celeste;
}
.infoDiseño{
    height: 300px;
}

.infoDesarrollo{
   height: 300px;
}

.tituloDiseño{
    font-family: 'Barlow', sans-serif;
    color: $rosa;
    font-size: 2.2rem;
    margin-top: 30px;
    margin-left: 100px;
}

.textoDiseño{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 1.2rem;
    color: $azul;
}

.tituloDesarrollo{
    font-family: 'Barlow', sans-serif;
    color: $celeste;
    font-size: 2.2rem;
    margin-top: 30px;
    margin-left: 100px;
}

.botonDiseño{
    width: 100px;
    height: 40px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: $celeste;
    margin-bottom: 50px;
    border:0;
    border-radius: 5px;
}
.botonDiseño:hover{
    background-color: $rosa;
}
.botonDiseño a{
    font-size: 1rem;
    color: white;
}

.botonDesarrollo{
    width: 100px;
    height: 40px;
    margin-left: 100px;
    margin-top: 25px;
    background-color: $rosa;
    margin-bottom: 50px;
    border:0;
    border-radius: 5px;
}
.botonDesarrollo:hover{
    background-color: $celeste;
}
.botonDesarrollo a{
    font-size: 1rem;
    color: white;
}

/*servicios responsive*/
@media screen and (min-width:768px){
    .imagenDiseño{
        background-color: $rosa;
        height: 300px;
        width: 100%;
       max-width: 600px;
        border-radius: 10px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    }

    .imagenDesarrollo{
        background-color: $celeste;
        height: 300px;
        width: 100%;
       max-width: 600px;
        border-radius: 10px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    }
}