.imagenSobreMi{
    width: 100%;
    height: 30vh;
    background-image: url(https://images.pexels.com/photos/3844788/pexels-photo-3844788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}

.tituloSobreMi{
    font-family: 'Barlow', sans-serif;
    color: $celeste;
    font-size: 2.2rem;
    margin-left: 110px;
    margin-top: 30px;
}

.textoSobreMi{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 1.2rem;
    color: $azul;
    margin-bottom: 50px;
}

.botonSobreMi{
    width: 100px;
    height: 60px;
    margin-left: 110px;
    background-color: $rosa;
    margin-bottom: 50px;
    border:0;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}
.botonSobreMi:hover{
    background-color: $celeste;
}
.botonSobreMi a{
    font-size: 1.1rem;
    color: white;
}
/* responsive desktop sobre mi*/

@media screen and (min-width:768px){
    .imagenSobreMi{
        width: 100%;
        height: 100vh;
        margin-right: 0;
    }

    .tituloSobreMi{
        font-size: 2.7rem;
        text-align: left;
        margin-top: 150px;
        width: 400px;
        margin-left: 150px;
    }

    .textoSobreMi{
        margin-left: 150px;
        margin-top: 30px;
        font-size: 1.3rem;
    }
    .botonSobreMi{
        width: 80px;
        height: 40px;
        margin-left: 150px;
        margin-top: 25px;
    }
    
}
